﻿<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-6">
      <h1 class="left">Connect With Cross Current</h1>
      <hr style="margin-left: 0;" />
      <p>
        To request a free consultation or demo, simply complete the adjacent form. You can also connect with us by telephone.
      </p>
      <p>
        Phone: 215-860-3790
      </p>
      <p>
        Address: 2700 S Eagle Road<br />
        <span style="margin-left: 68px;">Newtown, PA 18940</span>
      </p>
    </div>
    <div class="col-md-6">
      <div id="form">
        <form id="contact-form">
          <label for="firstName">
            First Name*
          </label>
          <input type="text" name="firstName" required />
          <label for="lastName">
            Last Name*
          </label>
          <input type="text" name="lastName" required />
          <label for="company">
            Company*
          </label>
          <input type="text" name="company" required />
          <label for="email">
            Email*
          </label>
          <input type="email" name="email" required />
          <label for="email">
            Telephone
          </label>
          <input type="tel" name="telephone" />
          <label for="comments">
            Comments
          </label>
          <textarea type="text" name="comments"></textarea>
          <button type="submit" id="contact-us">Submit</button> <span class="success-msg"></span>
        </form>
      </div>
    </div>
  </div>
</div>