﻿<section class="hero row homepage-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 style="color: #619e3e;">Data Matters.</h2>
        <h1>Do You Have What You Need To Succeed?</h1>
        <p>
          Our insightful healthcare analytics provide your business with the keys to success. From visit volume, to surgical conversion rates, we know what information you need to solve problems and improve performance.
        </p>
        <button id="demo-link">Schedule Demo</button>
      </div>
    </div>
  </div>
</section>

<section class="row bg-press-release-homepage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="white">
          Cross Current announces partnership with The Centers for Advanced Orthopedics
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p class="white">
          The Centers for Advanced Orthopedics, the nations largest independent orthopedic practice will implement Cross Current's Business Analytics in its 32 practices.
        </p>
        <a href="/Press-Release" class="button green">Get the Details</a>
      </div>
    </div>
  </div>
</section>

<section class="row bg-orange-molecules">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="left">You Have the Data,<br />We Have the Answers</h1>
        <hr style="margin-left: 0;" />
        <p>
          Your practice has been collecting data for years. But chances are the data isn’t supporting the insights you need to manage performance and make critical decisions. Poor reporting tools and separate databases make this a time consuming and expensive challenge.
        </p>
        <p style="margin-bottom: 50px;">
          That's where Cross Current can help. We aggregate your existing data and transform it so you can see what is happening in your business. Not more guessing. Real-time answers when you need them!
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="row">
          <div class="col-xs-3">
            <img src="/Content/images/home/aggregate_x2.png" width="84" height="84" class="img-responsive" />
          </div>
          <div class="col-xs-9">
            <h3 class="orange">Aggregate</h3>
            <p class="font-14">
              Whether its billing, clinical patient satisfaction, or call call center data, our extraction agent aggregates the data you need in one place.
            </p>
          </div>
        </div>
        <div class="row margin-top-40">
          <div class="col-xs-3">
            <img src="/Content/images/home/predict_x2.png" width="84" height="84" class="img-responsive" />
          </div>
          <div class="col-xs-9">
            <h3 class="orange">Predict</h3>
            <p class="font-14">
              Do you know where your business is trending? Are you over or understaffed? Cross Current enables you to view, model and predict performance. 
            </p>
          </div>
        </div>
        <div class="row margin-top-40">
          <div class="col-xs-3">
            <img src="/Content/images/home/visualize_x2.png" width="84" height="84" class="img-responsive" />
          </div>
          <div class="col-xs-9">
            <h3 class="orange">Visualize</h3>
            <p class="font-14">
              We then transform the disparate data so you can seamlessly visualize, benchmark, and trend with easy to use tools.
            </p>
          </div>
        </div>
        <div class="row margin-top-40">
          <div class="col-xs-3">
            <img src="/Content/images/home/improve_x2.png" width="84" height="84" class="img-responsive" />
          </div>
          <div class="col-xs-9">
            <h3 class="orange">Improve</h3>
            <p class="font-14">
              Real-time answers provide the knowledge you need to strategize, optimize and improve.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row bg-light-gray">
  <div class="container quote-container">
    <p class="quote-large">
      This product is hugely powerful for our operations. It enables our practice administrators to quickly get the insights we need to successfully run our organization. There is no way we could manage our growth without having this level of transparency and insights into our business.
    </p>
  </div>
  <div class="container">
    <p class="quote-attr">
      <span class="green font-raleway">&mdash; Michael Sheerin, COO,</span> ROTHMAN INSTITUTE
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-1 col-md-offset-4">
          <img src="/Content/images/home/best_hospitals_x2.png" height="53" width="59" class="img-responsive" />
        </div>
        <div class="col-md-6">
          <h3 class="dark left font-18 mobile-center">
            #4 in Adult Orthopedics Hospitals
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>