﻿@{
    ViewBag.Title = "PressRelease";
}

<section class="hero row bg-press-release-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="white left">
                    The Centers for Advanced Orthopedics Selects Cross Current Business Analytics
                </h1>
                <p class="white">
                    August 14, 2017
                </p>
            </div>
        </div>
    </div>
</section>

<section class="press-release">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <p>
                    DOYLESTOWN, PA: (August 14, 2017) &mdash; Cross Current Business Analytics announced a partnership with The Centers for Advanced Orthopedics (CAO), the nation's largest independent group of orthopedic practices with 174 physicians serving the Virginia-D.C.-Maryland region. CAO will deploy Cross Current's suite of advanced cloud based business intelligence "BI" reports to enhance patient quality, service and practice efficiency across 30 practices.
                </p>
                <p>
                    CEO Ladan Rykiel states, "CAO believes a robust business intelligence solution is essential to provide the best quality care for our patients at the lowest cost." Cross Current will integrate data from a broad range of systems deployed at our sixty locations and will ensure that we consistently deliver quality outcomes and maximize staff efficiency. Cross Current was uniquely qualified to support CAO’s needs with their extensive orthopedic expertise, data aggregation experience, their use of the Tableau platform and reputation for delivering immediate results."
                </p>
                <p>
                    <strong>For more information please contact:</strong><br />
                    Bill Montgomery, SVP Sales and Marketing, <a href="mailto:wmontgomery@crosscurrent.com">wmontgomery@crosscurrent.com</a>
                </p>
                <p>
                    <strong>About The Centers for Advanced Orthopedics</strong><br />
                    The Centers for Advanced Orthopedics (The Centers) is the premier provider of orthopedic care in Virginia, DC and Maryland. The organization was formed in 2013 to provide patients with the same personalized service and superior care they have come to expect from a private practice, while benefitting from the efficiencies, resources, accessibility and broader insurance options of the region’s largest orthopedic network. Through empowering the private practice model, The Centers delivers the most efficient, compassionate and highest-quality care to the communities it serves. For more information, please visit <a href="http://www.CFAOrtho.com" target="_blank">CFAOrtho.com</a>.
                </p>
                <p>
                    <strong>About Cross Current Business Analytics</strong><br />
                    With a focus on productivity, profit and patient experience, Cross Current aggregates and transforms customer data from multiple systems to analyze financial, clinical, operational, billing, coding/compliance, patient satisfaction and outcomes. By utilizing the Tableau analytics platform and fully automating the ETL process, Cross Current can deliver powerful results quickly for substantially less than proprietary and custom solutions. Cross Current has delivered quality solutions to its customers for over twenty years. Please visit us at <a href="http://www.crosscurrent.com" target="_blank">www.crosscurrent.com</a>.
                </p>
            </div>
        </div>
    </div>
</section>