﻿<section class="hero bg-green-hero row">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="/Content/images/who-we-are/who_we_are_icon_x2.png" class="img-responsive" height="41" width="54" />
        <h2>Who We Are</h2>
        <p class="font-18 text-center">
          For over 25 years, Cross Current Business Analytics has helped organizations nationwide maximize their performance, profit, and patient outcomes
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <h1>Cross Current Helps Practices See & Understand Their Data</h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h4 class="extra-space">
         With a focus on productivity, profit and patient experience, Cross Current aggregates and transforms customer data from multiple systems to analyze financial, clinical, operational, billing, coding/compliance, patient satisfaction and outcomes.
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="row bg-leadership">
  <div class="container">
    <h1 id="leadership-header">Leadership &mdash;</h1>
    <div class="row leadership-card">
      <div class="col-md-2 leadership-card-thumbnail">
        <img src="/Content/images/who-we-are/robert_headshot_x2.png" height="152" width="152" class="img-responsive" alt="Robert Olanoff" />
      </div>
      <div class="col-md-10 leadership-card-content">
        <h1>Robert Olanoff</h1>
        <h2>Cross Current CEO</h2>
        <p>
          Robert has been with the company since September 2015. Since 1983, Mr. Olanoff served as the Chief Financial Officer of a number of privately and publicly owned software and IT service companies. Prior to 1983, Mr. Olanoff was employed by a large, regional public accounting firm. He served on the Board of Directors of the New Jersey Technology Council from 1997 through 2014 and was selected to the Council’s CFO Hall of Fame in 2002. Mr. Olanoff earned a B.A. in Economics from Rutgers University in 1978.
        </p>
      </div>
    </div>
    <div class="row leadership-card">
      <div class="col-md-2 leadership-card-thumbnail">
        <img src="/Content/images/who-we-are/bill_headshot_x2.png" height="152" width="152" class="img-responsive" alt="Bill Montgomery" />
      </div>
      <div class="col-md-10 leadership-card-content">
        <h1>Bill Montgomery</h1>
        <h2>SVP, Sales and Marketing</h2>
        <p>
          Bill has over 30 years of healthcare IT experience, including NextGen Healthcare, where he was most recently DVP of Sales and an integral part of its growth to ½ billion dollars in annual revenue. As a veteran of the healthcare industry with leadership positions at NextGen, McKesson, Siemens and eTransmedia, Bill knows how to deliver meaningful results to his customers with a consultative approach.  Bill is a graduate of Wake Forest University with a BS in Mathematics and Economics.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="left">Partnerships That Fuel Success</h1>
        <hr style="margin-left: 0;" />
        <p>
          Cross Current partners ensure that Cross Current integrates flawlessly and effortlessly with Customer systems.  They deliver additional professional services to compliment Cross Current solutions.  They make it easy for customers to buy the best way for them.  Learn more about becoming a Cross Current Partner.
        </p>
        <button id="link-to-contact-us" style="font-size: 16px; margin-left: 0;">Learn More</button>
      </div>
      <div class="col-md-6">
        <img src="/Content/images/who-we-are/Partnership_x2.png" height="242" width="409" class="img-responsive" />
      </div>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-md-2 col-md-offset-1">
        <a href="http://www.openpracticesolutions.com/" target="_blank">
          <img src="/Content/images/who-we-are/OPS_x2.png" height="58" width="166" class="img-responsive" alt="Logo: Open Practice Solutions" />
        </a>
      </div>
      <div class="col-md-2">
        <a href="http://www.phoenixortho.net/" target="_blank">
          <img src="/Content/images/who-we-are/phoenix_ortho_x2.png" height="58" width="166" class="img-responsive" alt="Logo: Phoenix Ortho" />
        </a>
      </div>
      <div class="col-md-2">
        <a href="http://www.oberd.com/" target="_blank">
          <img src="/Content/images/who-we-are/oberd_x2.png" height="58" width="166" class="img-responsive" alt="Logo: Oberd" />
        </a>
      </div>
      <div class="col-md-2">
        <a href="http://www.healthjump.com/" target="_blank">
          <img src="/Content/images/who-we-are/healthjump_x2.png" height="58" width="166" class="img-responsive" alt="Logo: Healthjump" />
        </a>
      </div>
      <div class="col-md-2">
        <a href="http://www.reliableitchannel.com/" target="_blank">
          <img src="/Content/images/who-we-are/Reliable_IT_x2.png" height="57" width="183" class="img-responsive" alt="Logo: Reliable IT" />
        </a>
      </div>
    </div>
  </div>
</section>