﻿<footer class="row">
  <div class="container">
    <section class="col-sm-4 privacy center-text-xs">
      <p>
        <a href="tel:2674542715">215-860-3790</a>
      </p>
      <p>
        Copyright &copy; 2017 Cross Current Corp.<br />
        All rights reserved.
      </p>
    </section>
    <section class="col-sm-4 social center-text-xs">
      <ul id="social-media">
        <li>
          <a href="https://www.facebook.com/CrossCurrentAnalytics/" target="_blank" class="social-icon icon-facebook"></a>
        </li>
        <li>
          <a href="https://twitter.com/CrossCurrent_" target="_blank" class="social-icon icon-twitter"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/cross-current-corporation" target="_blank" class="social-icon icon-linkedin"></a>
        </li>
      </ul>
    </section>
    <section class="col-sm-4 sub-nav center-text-xs">
      <div class="row">
        <div class="col-sm-6">
          <ul class="footer-nav">
            <li class="header">
              Solutions
            </li>
            <li>
              <a href="/Analytics">Analytics</a>
            </li>
            <li>
              <a href="/Platform">Platform</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="footer-nav">
            <li class="header">
              About
            </li>
            <li>
              <a href="/Contact-Us">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
