﻿<nav>
  <div class="container">
    <a href="/" id="logo-link">
      <img id="logo" src="/Content/images/nav/cross_current_x2.png" width="253" height="36" alt="Logo: Cross Current" class="pull-left" />
    </a>
    <div id="hamburger">
      
    </div>
    <ul id="main-menu" class="pull-right mobile-closed">
      <li>
        <a href="/Analytics" class="@(ViewBag.Title == "Analytics" ? "active" : "")">Analytics</a>
      </li>
      <li>
        <a href="/Platform" class="@(ViewBag.Title == "Platform" ? "active" : "")">Platform</a>
      </li>
	  <li>
        <a href="/Who-We-Are" class="@(ViewBag.Title == "Who We Are" ? "active" : "")">Who We Are</a>
      </li>
      <li>
        <a href="http://blog.crosscurrent.com/blog" class="@(ViewBag.Title == "Blog" ? "active" : "")">BLOG</a>
      </li>
      <li>
        <a href="/Contact-Us" class="@(ViewBag.Title == "Contact Us" ? "active" : "")">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
