﻿section.bg-blue-network {
  background: url(../images/backgrounds/Home_bg_x2.png) no-repeat center;
  background-size: cover;
}

section.bg-light-gray {
  background-color: #f0f0f0;
}

section.bg-blue {
  background-color: $blue;
}

section.homepage-hero {
  background: url(../images/home/home_hero_x2.png) no-repeat center center;
  background-size: cover;
}

section.bg-press-release-hero {
  background: url(../images/backgrounds/landingpage-hero-bg-x2.jpg) no-repeat bottom center;
  background-size: cover;
  padding: 45px 0;
}

section.bg-press-release-homepage {
  background: url(../images/backgrounds/homepage-press-release-bg-x2.jpg) no-repeat bottom center;
  background-size: cover;
  padding: 55px 0;
  h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  p {
    color: #fff;
    text-align: center;
    font-size: 16px;
  }
  a.button.green {
    margin-top: 25px;
    background-color: #6eb34c;
    color: #fff;
    border: none;
    font-size: 16px;
  }
}

section.bg-orange-molecules {
  background: url(../images/home/orange_BG_x2.jpg) no-repeat bottom center;
  background-size: cover;
}

section.bg-purple-hero {
  background: url(../images/analytics/analytics_header_bg.png) no-repeat center center;
  background-size: cover;
  * {
    color: $white;
  }
  height: 230px;
  padding: 40px 0;

  @media (max-width: 768px) {
    height: auto;
  }
}

section.bg-orange-hero {
  background: url(../images/platform/platform_header_bg_x2.png) no-repeat center center;
  background-size: cover;
  * {
    color: $white;
  }
  height: 230px;
  padding: 30px 0;

  @media (max-width: 768px) {
    height: auto;
  }
}

section.bg-green-hero {
  background: url(../images/who-we-are/Green_BG_x2.png) no-repeat center center;
  background-size: cover;
  * {
    color: $white;
  }
  height: 230px;
  padding: 30px 0;

  @media (max-width: 768px) {
    height: auto;
  }
}

section.bg-leadership {
  background: url(../images/who-we-are/Leadership_BG_x2_2.jpg) no-repeat center center;
  background-size: cover;
}

body.bg-contact-us {
  background: url(../images/backgrounds/bg-contact-us.jpg) no-repeat center center;
  background-size: cover;
}
