﻿#leadership-header {
  color: #fff;
  font-size: 33px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
}

.leadership-card {
  background-color: #ededed;
  border-bottom: 4px solid #de8107;
  color: #323232;
  margin-bottom: 35px;
  padding: 40px;
}

.leadership-card-thumbnail {

}

.leadership-card-content {
  h1 {
    color: #0475bb;
    font-size: 22px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    color: #0b6e35;
    font-size: 18px;
    text-align: left;
    margin-top: 4px;
    font-weight: 700;
  }

  p {

  }
}

.leadership-card:last-child {
  margin-bottom: 0;
}