﻿@import 'fonts';

nav {
  background-color: $white;
  height: 72px;
  border-bottom: 1px solid #eee;
  font-family: $font-raleway;

  img#logo {
    margin-top: 20px;
  }
  ul#main-menu {
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
      margin-right: 20px;
      margin-top: 25px;

      &.has-sub-menu i {
        margin-left: 10px;
      }

      > a {
        padding: 25px 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        color: $gray;
        text-decoration: none;

        &.active,
        &:hover {
          color: $blue;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    ul.sub-menu {
      display: none;
      position: absolute;
      top: 72px;
      left: 0;
      height: 100px;
      background-color: $gray;
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin: 0 auto;
      
      li {
        display: inline-block;
        list-style-type: none;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          padding: 20px 47px;
          color: $white;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          transition: .1s opacity ease-in;
          &:hover {
            opacity: 0.5;
          }
          img {
            width: 43px;
            height: 43px;
            display: block;
            margin: 0 auto;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}

div#hamburger {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px 20px;
  margin: 12px;
  color: $blue;
  width: 48px;
  height: 48px;
  border: 1px solid $blue;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  background: url(../images/icons/CC_Hamburger_Menu_x2.png) no-repeat center center;
  background-size: 21px;
}

@media (max-width: 994px) {
  nav ul#main-menu.mobile-closed {
    display: none;
  }

  nav ul#main-menu {
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    margin-bottom: 15px;
    width: 100%;
    padding-bottom: 20px;

    li {
      margin-right: 10px !important;
      list-style-type: none;
      display: block;
      a {
        font-size: 20px !important;
        font-weight: 400;
        display: block;
        width: 100%;
        text-align: center;
        padding: 3px;
      }
    }
  }

  div#hamburger {
    display: inline-block;
  }

  img#logo {
    float: none !important;
    margin: 0 auto;
  }

  a#logo-link {
    display: inline-block;
  }
}