﻿section#slider {
  padding: 0;
}
.owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -36px;
}

.owl-nav {
  margin-top: 0 !important;
}

.slider-arrow-left,
.slider-arrow-right {
  display: block;
  width: 24px;
  height: 47px;
  cursor: pointer !important;
}

.owl-next,
.owl-prev {
  background-color: transparent !important;
  cursor: pointer !important;
}

.owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -23px !important;
}

.owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -23px !important;
}

.slider-arrow-left {
  background: url(../images/owl-carousel/arrow-left.png) no-repeat center center;
}

.slider-arrow-right {
  background: url(../images/owl-carousel/arrow-right.png) no-repeat center center;
}

.owl-item {
  height: 400px !important;
}

.bg-slider-1 {
  background: url(../images/backgrounds/homepage-hero-bg-1.png) no-repeat center center !important;
  background-size: cover !important;
  height: 100% !important;
  * {
    margin: 0 !important;
  }

  h1 {
    padding-top: 30px;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    font-family: $font-nunito;
    font-weight: 300;
  }

  h2 {
    font-size: 45px;
    padding-top: 10px;
    color: $blue;
    font-weight: 700;
  }

  h3 {
    font-size: 34px;
    font-weight: 700;
    padding-top: 30px;
    color: #7cbe56;
  }
}

.bg-slider-2 {
  background: url(../images/backgrounds/homepage-hero-bg-2-2.png) no-repeat center center !important;
  background-size: cover !important;
  height: 100% !important;
  * {
    margin: 0 !important;
  }
  h1 {
    padding-top: 80px;
    color: #fff;
    font-size: 45px;
    font-family: $font-raleway;
    font-weight: 700;
  }
  h2 {
    color: #fff;
    font-size: 30px;
    font-family: $font-raleway;
    line-height: 1.2;
    padding-top: 20px;
    font-weight: 300;
  }
  button.hero-cta {
    margin: 0 auto !important;
    margin-top: 50px !important;
    background-color: $blue;
    font-size: 20px;
    color: #fff;
    font-family: $font-nunito;
    font-weight: 300;
  }
}

.bg-slider-3 {
  background: url(../images/backgrounds/homepage-hero-bg-3-2.png) no-repeat center center !important;
  background-size: cover !important;
  height: 100% !important;
  * {
    margin: 0 !important;
  }
  h1 {
    padding-top: 80px;
    color: #fff;
    font-size: 45px;
    font-family: $font-raleway;
    font-weight: 700;
  }
  h2 {
    color: #fff;
    font-size: 30px;
    font-family: $font-raleway;
    line-height: 1.2;
    padding-top: 20px;
    font-weight: 300;
  }
  button.hero-cta {
    margin: 0 auto !important;
    margin-top: 50px !important;
    background-color: $blue;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-family: $font-nunito;
  }
}
