﻿/* Bootstrap Overwrites */

@import 'colors';
@import 'fonts';
@import 'backgrounds';
@import 'spacing';

.img-responsive {
  margin: 0 auto;
}

hr {
  width: 40px;
  margin-bottom: 40px;
  border-top: 3px solid $dark-green;
}

div.hr {
  width: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  height: 3px;
  background-color: $dark-green;
}

span.orb-text {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 10px;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

ul.dash-list {
  font-size: 17px;
  li {
    list-style-type: none;
    text-indent: -10px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '-';
      text-indent: -10px;
    }
  }
}

.border-right {
  border-right: 1px solid $gray;
  min-height: 60px;
}

section.plus-list {
  h5 { margin-top: 0; }
  .row {
    margin-bottom: 15px;
  }
}

div#form {
  background-color: #0774bb;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 25px;

  label {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
  }

  label:first-child {
    margin-top: 0;
  }

  input,
  textarea {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 17px;
    padding: 8px;
    width: 100%;
    color: #fff;

    .error {
      border: 1px solid red;
    }
  }

  button {
    margin: initial;
    margin-top: 15px;
  }

  .success-msg {
    color: $white;
    margin-top: 20px;
  }
}

.quote-container {
  padding: 70px;
  background: url(../images/home/quote_left_x2.png) no-repeat top left, url(../images/home/quote_right_x2.png) no-repeat bottom right;
  background-size: 100px;
}

.platform-plus {
  margin-top: 16px;
  margin-right: 5px;
}

span.block {
  display: block;
}

button#see-it-in-action {
  background-color: $blue;
  font-size: 20px;
  color: #fff;
  font-family: $font-nunito;
  font-weight: 300;
}

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .col-sm-4.social {
    margin-bottom: 30px;
  }

  .col-sm-4.sub-nav div.col-sm-6 {
    margin-bottom: 20px;
  }

  .margin-bottom-xs {
    margin-bottom: 60px;
  }

  h3.dark {
    text-align: center;
  }

  .quote-container {
    padding: 50px;
    background: url(../images/home/quote_left_x2.png) no-repeat top left, url(../images/home/quote_right_x2.png) no-repeat bottom right;
    background-size: 80px;
  }
}

h3.orange {
  color: $orange;
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 0;
  text-align: left;
}

section.homepage-hero {
  h1 {
    color: $blue;
    text-align: left;
    font-size: 37px;
    margin-bottom: 20px;
  }

  h2 {
    color: $dark-green;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    font-size: 25px;
  }

  p {
    font-weight: 700;
  }
  
  button,
  a.button {
    display: block;
    background-color: $blue;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 80px;
    margin-left: 0;
    transition: .2s all ease-in;
    padding: 12px 18px;
    &:hover {
      opacity: 0.8;
    }
  }
}

button#link-to-contact-us {
  background-color: #1070a7;
  font-size: 20px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

@import 'footer';
@import 'nav';
@import 'slider-addons';
@import 'leadership';